<div class="fab-container">
  <button class="fab fab-theme" title="显示模式切换"><span class="mdi mdi-brightness-6"></span></button>
  <div class="fab-theme-popup">
    <button class="fab-popup-close" type="button" title="关闭"><span class="mdi mdi-close"></span></button>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ratio-theme" id="radio-light-theme" />
      <label class="form-check-label" for="radio-light-theme">
        <span class="mdi mdi-brightness-1"></span> 明亮模式
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="ratio-theme" id="radio-dark-theme" />
      <label class="form-check-label" for="radio-dark-theme">
        <span class="mdi mdi-brightness-2"></span> 黑暗模式
      </label>
    </div>
    <div class="custom-control custom-switch">
      <input class="custom-control-input" type="checkbox" name="ratio-darktheme-type" id="radio-darktheme-black" />
      <label class="custom-control-label" for="radio-darktheme-black">纯黑的黑暗模式</label>
    </div>
  </div>
</div>