<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.staticfile.org/bootstrap/4.6.2/js/bootstrap.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@sliphua/pjax@2.4.0/dist/pjax.js"></script>
<script src="https://cdn.staticfile.org/nprogress/0.2.0/nprogress.js"></script>
{{ page.external_scripts }}
<script src="{{ "/assets/js/pjax-initializer.js" | relative_url }}"></script>
<script src="{{ "/assets/js/internet_explorer-compatible.js" | relative_url }}"></script>
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
<script src="{{ "/assets/js/clipboard-setup.js" | relative_url }}"></script>
<script src="{{ "/assets/js/color_scheme.js" | relative_url }}"></script>
<script src="{{ "/assets/js/color_scheme-fallback.js" | relative_url }}"></script>