<header class="site-header" role="banner">
  <nav class="skip_to_content-nav container navbar navbar-expand-md navbar-theme-auto">
    <ul class="navbar-nav">
      <li class="nav-item{% if page.url == item.link %} active{% endif %}">
        <a class="nav-link" href="#content">跳转至内容</a>
      </li>
    </ul>
  </nav>
  <nav class="site-navbar container navbar navbar-expand-md navbar-theme-auto">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav-collapsible" aria-controls="site-nav-collapsible" aria-expanded="false" aria-label="切换导航栏显示状态">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="site-nav-collapsible" class="collapse navbar-collapse justify-content-md-end">
      <ul class="navbar-nav">
        {% for item in site.data.site-navigation %}
          {% if item.type == "dropdown" %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="site-nav-dropdown-menu-{{ item.unique-id }}" role="button" data-toggle="dropdown" aria-expanded="false">
              {{ item.name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="site-nav-dropdown-menu-{{ item.unique-id }}">
              {% for subitem in item.items %}
                <li class="dropdown-item"><a href="{% if page.url == subitem.link %}javascript:void(0){% else %}{{ subitem.link | relative_url }}{% endif %}">{{ subitem.name }}{% if page.url == subitem.link %}<span class="sr-only"> (当前页面)</span>{% endif %}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="nav-item{% if page.url == item.link %} active{% endif %}">
            <a class="nav-link" href="{% if page.url == item.link %}javascript:void(0){% else %}{{ item.link | relative_url }}{% endif %}">{{ item.name }}{% if page.url == item.link %}<span class="sr-only"> (当前页面)</span>{% endif %}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>