@import "minima/variables";

$color-background: #0d1117 !default;
$color-text: #c9d1d9 !default;

$color-grey: $gray-700 !default;
$color-grey-light: $gray-400 !default;
$color-grey-dark: $gray-1200 !default;

$color-border-post-tag-item: $color-grey-dark !default;
$color-background-post-tag-item: lighten($color-background, 4%) !default;
$color-post-tag-item: inherit;

@media (prefers-color-scheme: dark) {
  @import
    "minima/darktheme-base",
    "minima/darktheme-layout";
}