$color-darktheme-background: #0d1117 !default;
$color-darktheme-text: #c9d1d9 !default;

$color-darktheme-grey: #909090 !default;
$color-darktheme-grey-dark: #c0c0c0 !default;
$color-darktheme-grey-light: #373737 !default;

$color-darktheme-link: #58a6ff;

@media (prefers-color-scheme: dark) {
  @import
    "minima/darktheme-base",
    "minima/darktheme-layout";
}