$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", "PingFang SC", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", monospace;

$spacing-unit: 1.875rem !default;

$color-text: #212529 !default;
$color-background: #f8f9fa !default;
$color-grey: #6f6f6f !default;
$color-grey-dark: #3f3f3f !default;
$color-grey-light: #ececec !default;

$table-text-align: left !default;

@import
  "minima/base",
  "minima/layout",
  "minima/mdi-margin";