$spacing-unit: 1.875rem !default;

$color-text: #212529 !default;
$color-background: #f8f9fa !default;
$color-grey: #6f6f6f !default;
$color-grey-dark: #3f3f3f !default;
$color-grey-light: #ececec !default;

$table-text-align: left !default;

@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/mdi-margin";