@import "minima/variables";

$spacing-unit: 1.875rem !default;

$color-text: #212529 !default;
$color-background: #f8f9fa !default;

$color-grey: $gray-900 !default;
$color-grey-dark: $gray-1200 !default;
$color-grey-light: $gray-100 !default;

$table-text-align: left !default;

$color-border-post-tag-item: $gray-300 !default;
$color-background-post-tag-item: lighten($color-background, 4%) !default;
$color-post-tag-item: $gray-1200 !default;

@import
  "minima/base",
  "minima/layout",
  "minima/mdi-margin";