/* 页眉 */
.site-header {
  border-top-color: transparent;
  border-bottom-color: $color-grey-dark;
}

/* 页脚 */
.site-footer {
  border-top-color: $color-grey-dark;
}

.footer-col-container {
  color: $color-grey;
}

/* 内容 */
.post-meta {
  color: $color-grey;
}

/* 帖子的某一部分 */
.post-section-meta {
  color: $color-grey;
}

/* 帖子的页脚 */
// 站点标签
.post-tag-item {
  border-color: $color-border-post-tag-item;
  background-color: $color-background-post-tag-item;
  color: $color-post-tag-item;

  &:hover {
    background-color: mix(white, $color-background-post-tag-item, 8%);
  }
}

.fab {
  background-color: $color-primary-light;
}
.fab:hover {
  background-color: lighten($color-primary-light, 8%);
}

.fab-theme-popup {
  border-color: lighten($color-background, 25%);
  background-color: lighten($color-background, 8%);
}