/* base_dark.scss */

pre, code {
  border-color: $color-grey-dark;
  background-color: #002b36;
  color: #93a1a1;
}

table {
  border-color: $color-grey-dark;

  color: lighten($color-text, 2%);

  tr {
    &:nth-child(even) {
      background-color: darken($color-grey-dark, 6%);
    }
  }
  th {
    border-color: lighten($color-grey-dark, 4%);
    border-bottom-color: lighten($color-grey-dark, 12%);

    background-color: darken($color-grey-dark, 3%);
  }
  td {
    border-color: $color-grey-dark;
  }
}

img {
  filter: brightness(0.75) contrast(1.2);
}