@use "sass:math";

/* 页眉 */
.site-header {
  border-top: 5px solid $color-grey-dark;
  border-bottom: 1px solid $color-grey-light;
}

/* 页脚 */
// 跳到内容链接
 #skip_to_content-nav:not(:focus-within) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 帖子的某一部分 */
.site-footer {
  padding: $spacing-unit 0;
  border-top: 1px solid $color-grey-light;
}

.footer-col-container {
  color: $color-grey;
}

/* 页面内容 */
.page-content {
  flex: 1 0 auto;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.post-content {
  margin-bottom: $spacing-unit;
}

.post-list > li {
  margin-bottom: $spacing-unit;
}
.post-meta {
  font-size: 0.875em;
  color: $color-grey;
}

/* 帖子 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-content {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 1rem;
  }
}

/* 某一章节 */
.post-section-meta {
  margin-bottom: $spacing-unit / 2;
  color: $color-grey;
  font-size: 0.875em;
}

.post-section-author {
  font-style: normal;
}

/* 帖子底部 */

// Post tags
.post-tags-container {
  display: flex;
  align-items: baseline;

  & > * {
    margin-bottom: 0;
  }
}

.post-tags-caption {
  margin-right: $spacing-unit / 2;
}

.post-tags {
  list-style-type: none;
  padding-left: 0;
}

.post-tag-item {
  display: inline-block;

  margin: 0 0 0.5em 0.5em;
  border: 1px solid $color-border-post-tag-item;
  border-radius: 0.5em;

  background-color: $color-background-post-tag-item;

  color: $color-post-tag-item;

  transition: 0.15s background;

  &:hover {
    background-color: mix(black, $color-background-post-tag-item, 8%);
  }

  .mdi {
    margin-right: 0.35em;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

.post-tag-link {
  display: block;
  padding: 0 0.75em;
}

/* 注释 */
.footnote::before {
  content: "[";
}
.footnote::after {
  content: "]";
}

.reversefootnote {
  font-family: sans-serif; /* 覆盖 body 的 Emoji 字体 */
}

/* 图标边距 */
.post-meta, .post-section-meta, .social-media-list {
  .mdi {
    margin-right: 0.5em;
  }
}

/* 浮动按钮 */
.fab-container {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.fab {
  margin: 0;
  border: none;
  padding: 0;
  width: 3.375rem;
  height: 3.375rem;

  background-color: $color-primary-light;
  border-radius: 1rem;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  color: inherit;
  font-size: 1.5rem;
  line-height: 1;

  transition-property: border, background-color, color;
  transition-duration: 200ms;

  &:hover {
    background-color: lighten($color-primary-light, 8%);
  }
}

.fab-theme-popup {
  position: fixed;
  display: none;
  bottom: 1rem;
  right: 6rem;

  padding: 0.5rem 1rem;

  border: 1px solid $color-grey-light;
  border-radius: 0.5em;
  background-color: $color-background;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  opacity: 0;
  transform: translateX(1em);

  transition-property: border, transform, opacity;
  transition-duration: 300ms;
}

.fab-theme-popup.open {
  opacity: 1;
  transform: none;
}

.fab-popup-close {
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;

  background-color: unset;
  color: inherit;
  text-align: right;
  line-height: 1;
}