// Variables

// Colors

$white: #fff !default;
$black: #000!default;

// Cool grays

$gray-cool-100: #f8f9fa !default;
$gray-cool-200: #e9ecef !default;
$gray-cool-300: #dee2e6 !default;
$gray-cool-400: #ced4da !default;
$gray-cool-500: #adb5bd !default;
$gray-cool-600: #6c757d !default;
$gray-cool-700: #495057 !default;
$gray-cool-800: #343a40 !default;
$gray-cool-900: #212529 !default;

// Pure grays

$gray-100: #efefef !default;
$gray-200: #dfdfdf !default;
$gray-300: #cfcfcf !default;
$gray-400: #bfbfbf !default;
$gray-500: #afafaf !default;
$gray-600: #9f9f9f !default;
$gray-700: #8f8f8f !default;
$gray-800: #7f7f7f !default;
$gray-900: #6f6f6f !default;
$gray-1000: #5f5f5f !default;
$gray-1100: #4f4f4f !default;
$gray-1200: #3f3f3f !default;
$gray-1300: #2f2f2f !default;
$gray-1400: #1f1f1f !default;
$gray-1500: #0f0f0f !default;