---
layout: default
---
<article class="post">
  <h1>标签: {{ page.tag }}</h1>
  {{ content }}
  <h2>页面列表</h2>
  <ul class="post-list list-unstyled">
    {%- for post in site.tags[page.tag] -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
  </ul>
  <h2>标签云</h2>
  {% include tagcloud.html %}
</article>